

.fix-fix{
  position:static;
}

.blog-welcome {
  position:static !important;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid grey;
}


#grid-1 {
	background-image:url(img/cards/cooking.png);
}