.Chart-Wrapper{
    display:flex;
}

div.tooltip {
    background: white;
    border: 1px solid grey;
    box-shadow: 1px 2px 8px;
    height: 70px;
    font: 12px sans-serif;
    position: absolute;
    width: 70px;
    padding: 5px;
    pointer-events: none;
  }
  