.Chart-Wrapper{
    display:flex;
}

div.tooltip {
    background: white;
    box-shadow: 1px 1px 3px grey;
    height: auto;
    font: 12px sans-serif;
    position: absolute;
    width: 100px;
    padding: 5px;
    pointer-events: none;
  }
  