.LegendDisplay{
    position:relative;
    border: 1px solid #ededed;
    display:inline-block;
    height: 500px;
    min-height: 200px;   
    width: 200px;
    overflow:scroll;
    margin-top:20px;
}

.legendTitle{
    font-weight: 700;
    margin: 0;
    padding:0px;
    text-align: center;
}

.countryNameList{
    padding:1.5px;
    cursor: pointer;
    width: 200px;
    margin:2px;
    line-height: 12px;
    text-overflow: ellipsis;
}


@media all and (max-width: 750px) {
    .LegendDisplay{
        border: 1px solid #ededed;
        display: flex !important;
        flex-flow: row wrap;
        justify-content: space-evenly;
        max-height: 200px;
        width: 100%;
        margin-top:20px;
    }

    .countryNameList, .legendTitle{
        width: 175px;
        border: 2px solid orange;
        max-width: 48vw;
    }
}

hr{
    margin-left: 10%;
    margin-right: 10%;
}
.search{
    width:200px;
}

.search > input{
    width: 90%;
    margin: 0 10px 10px 10px;
}

.dot{
    color: white;
    fill:white;
}

