html, body{
  color:#343d47;
  padding:0;
  margin:0;
  background-color: #f7f7f7;
  overflow-x:hidden;
}

.App > .content{
  padding: 0px 10px 10px 10px;
}

.link{
  text-decoration: none;
  font-style: italic;
  font-weight:bold;
  color: #001485;
}

